<div class="detail-cover">
    <h1>오프라인 맵</h1>
    <p>WEB</p>
  </div>

  <div class="detail-container">
    <div class="section">
      <h3 class="content-title">기획 및 스토리</h3>
      <p class='contents'>
        핀란드 교환학생 기간에 핀란드 기업과 프로젝트를 하게 되었습니다. 기업 프로젝트의 주제는 기업이 가진 지도를 오프라인에서도 사용할 수 있는 웹 애플리케이션 제작이었습니다. maps library 중 하나인 leaflet을 기업에서 사용하기 때문에 분석하고, 지도의 타일을 저장하기 위해 cache와 관련 라이브러리를 공부하였습니다.
      </p>
      <div class="info">
          <p><span>Programing with : </span>JavaScript JQuery / cache api</p>
          <p><span>Period : </span>2017(2 month)</p>
        </div>
    </div>

    <div class="section">
      <h3 class="content-title">내용 소개</h3>
      <p class='contents'>
        leaflet지도에 기업의 지도를 적용하고 cache API를 이용하여 내장메모리에 지도의 타일을 저장시킬 수 있습니다. 오프라인 상태에서도 저장시킨 타일을 불러와 지도 서비스를 이용할 수 있게 개발하였습니다.
      </p>
    </div>

    <div class="section-grid">
      <div class="box-col">
        <img src="../../../../assets/img/offlinemap/notebook_OM1.png" alt="">
        <p>핀란드 기업에서 제공하는 지도를 cache를 통해 local 저장소에 저장시켜 오프라인 상태에서 불러온 화면.</p>
      </div>
    </div>

    <div class="section">
      <h3 class="content-title">배운 점 & 부족했던 점</h3>
      <p class='contents'>
        기존에 사용해보았던 잘 알려진 지도 library(Google, Naver, Daum maps)와는 다른 leaflet이란 것을 사용해보았습니다. 기존의 지도와 메커니즘은 비슷했기 때문에 지도를 불러오는 것은 어렵지 않았지만, cache를 다루는 과정은 고단했던 기억이 납니다. cache에 대해 공부를 하다 보니 지도에 적절하게 사용할 수 있는 API를 찾았고 적용해 프로젝트를 무사히 끝마칠 수 있었습니다.
        <br>
        기업에서는 IONIC2를 이용한 크로스 플랫폼 개발을 최종 목표로 하고 있었기 때문에 저희 팀이 더 능력이 있었다면 기업의 목표까지 달성할 수 있지 않았을까 하는 아쉬움은 조금 남습니다.
      </p>
    </div>
  </div>
