.detail-cover {
  background: url('https://images.pexels.com/photos/408503/pexels-photo-408503.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section {
  margin: 20px 20px;
  grid-column: 2/4;
}

.section-grid {
  display: block;
}

.section-grid .box-col p {
  text-align: center;
}
.section-grid .box-col img {
  width: 100%;
}

/* media query */
@media(max-width:760px) {
  .section-grid {
    grid-template-columns: 1fr 1fr;
  }

  .info {
    display: flex;
    flex-direction: column;
  }

  .info p {
    margin: 5px 0;
  }

}

@media(max-width:480px) {
  .section-grid {
    display: block;
  }

  .box-col {
    margin-bottom: 50px;
  }

  .box-col p {
    text-align: center;
    padding: 0 30px;
  }
}
