<div class="detail-cover">
    <h1>House</h1>
    <p>WEB</p>
  </div>

  <div class="detail-container">
    <div class="section">
      <h3 class="content-title">기획 및 스토리</h3>
      <p class='contents'>
        Angular를 공부하기 시작했을 때 같이 공부하던 친구와 함께 Airbnb를 따라 만들어 보자고 했습니다. 기본적인 기능들만 구현하는 것을 목표로 집에 관련한 웹페이지를 제작하기 시작하였습니다.
      </p>
      <div class="info">
          <p><span>Programing with : </span>Angular2 / Firebase</p>
          <p><span>Period : </span>2016(2 month)</p>
          <p><span>Code : </span><a href="https://github.com/ChachaLim/WebProject_CL" target="_blank">github</a></p>
        </div>
    </div>

    <div class="section">
      <h3 class="content-title">내용 소개</h3>
      <p class='contents'>
        Angular2와 Firebase의 Authentication과 DB를 이용하여 웹 페이지를 개발하였습니다. 호스트가 숙소를 등록하면 게스트는 등록된 집들을 나열하여 볼 수 있습니다. 가격, 지역, 이름을 기준으로 정렬할 수 있으며 검색기능도 구현하였습니다. 쓰기, 수정, 삭제 기능과 정렬, 검색 기능 등을 구현하고 giocoding을 통해 Google maps library를 사용하여 주소를 입력하면 자동으로 marker가 찍히는 기능과 marker의 위치를 DB에 저장하고 불러오는 기능 등을 구현하였습니다.
      </p>
    </div>

    <div class="section-grid">
      <div class="box-col">
        <img src="../../../../assets/img/house/notebook_house1.png" alt="">
        <p>등록된 숙소를 나열한 메인 화면.</p>
      </div>
    </div>

    <div class="section">
      <h3 class="content-title">배운 점 & 부족했던 점</h3>
      <p class='contents'>
        처음으로 Angular2를 이용하여 만들어본 웹 페이지입니다. 기능에 신경 쓸 것이 생각보다 너무 많아 디자인과 UX가 엉망인 점이 너무 아쉽습니다. angular는 현재 version5까지 나와 있는 상태이며, 백엔드 역할을 하는 Firebase도 DB기능이 업데이트되어 업데이트 진행 중에 있습니다.
        업데이트가 진행 중인 github의 주소입니다. <br> <span>Code : </span><a href="https://github.com/ChachaLim/CIHouse" target="_blank">github</a>
      </p>
    </div>
  </div>
