<div class="about-me" id="id-about">
  <div class="section1">
    <p class='graduation'>안녕하세요. 유능한 프론트엔드 개발자를 꿈꾸는 차영훈입니다.</p>
    <p class='introduce'>
      사용자가 가장 사용하기 편하도록 단순한 UX 솔루션을 제공하는 실력을 갖추는 것이 목표입니다.
      프론트엔드 개발자를 꿈꾸며 Angular 프레임워크를 학습하였으며, 몇 개의 프로젝트를 진행하였습니다.
      목표를 달성하기 위해 기본적인 DOM 구조를 이해하고, JavaScript의 Prototype에 대한 기본지식을 가지고 있습니다.
      책에서 얻는 지식의 한계를 극복하기 위해 영문으로 된 문서를 번역하여 이해하는 기본적인 독해능력 또한 가지고 있어, 유연한 개발능력을 보유하고 있습니다.
    </p>
  </div>
  <div class="skills">
    <!-- <h3>SKILLS</h3>
    <ul>
      <li (click)="clickJs()">JavaScript</li>
      <li (click)="clickHC()">HTML/CSS</li>
      <li (click)="clickAng()">Angular</li>
      <li (click)="clickFb()">Firebase</li>
    </ul> -->

    <div class="skill-info">
      <div class="text-container">
        <p class="skill-title">JavaScript</p>
        <p>JavaScript의 Prototype의 기본지식 및 체인을 통한 상속, 생성자 등의 개념을 통해 Class의 기반이 되는 지식을 이해하고 있으며, closure와 생명주기에 대한 내용 또한 이해하고 있습니다.</p>
      </div>
      <div class="text-container">
        <p class="skill-title">HTML/CSS</p>
        <p>시멘틱한 HTML의 구조를 구성하여 유지보수에 어려움이 없도록 하고 있으며, CSS를 통해 HTML을 어떻게 구성하고 꾸밀 것인지 이해하고 있습니다. CSS 프레임워크인 BootStrap과 Materialize를 사용해 본 경험이 있습니다.</p>
      </div>
      <div class="text-container">
        <p class="skill-title">Angular</p>
        <p>Angular 프레임워크에 구성되어있는 webpack, RxJs, karma 등의 개념을 이해하고 module을 통해 연결되는 구조와 directive, 생명주기에 대해 이해하고 있습니다.</p>
      </div>
      <div class="text-container">
        <p class="skill-title">Firebase</p>
        <p>Google Firebase라는 BaaS(Backend as a Service)를 이용하여 DB, Hosting, Function, Authentication을 활용하고 있습니다.</p>
      </div>
      <div class="text-container">
        <p class="skill-title">Android(JAVA)</p>
        <p>JAVA 언어를 이해하고 있으며, 안드로이드 프레임워크의 기본인 Gradle과 생명주기 등을 이해하고 있습니다.</p>
      </div>
    </div>
  </div>
</div>
