
<div class="works-container">

  <h1 class="Title">Works</h1>

  <div class="work">
    <div class=img-container>
      <img src="../../../assets/img/communicon/ipone_cmnc1.png" alt="">
      <img src="../../../assets/img/communicon/ipone_cmnc2.png" alt="">
    </div>

    <div class="description">
      <h3 class='content-title'>Communicon</h3>
      <p>아이콘으로 커뮤니케이션(의사소통)을 해볼 수 있을까라는 생각에서 만들어 본 웹애플리케이션입니다.</p>
      <ul>
        <li>MeteorJS</li>
        <li>BootStrap</li>
        <li>참여 : 기획 / <strong>개발</strong></li>
        <li>개발년도 : 2016</li>
      </ul>
      <button class="btn" routerLink="/detail/communicon">자세히 보기</button>
    </div>
  </div>

  <div class="work reverse">
    <div class="notebook">
      <img src="../../../assets/img/accountbook/notebook_AB1.png" alt="">
    </div>
    <div class="description">
      <h3 class='content-title'>문자메세지 파싱 가계부 웹앱</h3>
      <p>휴대폰에 수신된 메세지를 파싱하여 가계부를 관리할 수 있게 만든 웹애플리케이션입니다.</p>

      <ul>
        <li>MeteorJS</li>
        <li>BootStrap</li>
        <li>참여 : 메시지 파싱 기능 / <strong>웹 개발</strong></li>
        <li>개발년도 : 2016</li>
      </ul>
      <button class="btn" routerLink="/detail/accountbook">자세히 보기</button>
    </div>

  </div>

  <div class="work">
    <div class="notebook">
      <img src="../../../assets/img/house/notebook_house1.png" alt="">
    </div>
    <div class="description">
      <h3 class='content-title'>House</h3>
      <p>숙박업소에 관한 웹 사이트로, 호스트는 집을 등록하고 고객은 예약을 할 수 있습니다.</p>
      <ul>
        <li>Angular2</li>
        <li>Materialize</li>
        <li>Firebase</li>
        <li>참여 : giocoding / <strong>클라이언트 및 서버</strong></li>
        <li>개발년도 : 2016</li>
      </ul>
      <button class="btn" routerLink="/detail/house">자세히 보기</button>
    </div>
  </div>

  <div class="work reverse">
    <div class="notebook">
      <img src="../../../assets/img/offlinemap/notebook_OM1.png" alt="">
    </div>
    <div class="description">
      <h3 class='content-title'>오프라인 맵</h3>
      <p>javascript 지도 library인 leaflet을 사용하여 특정구간의 지도 tile을 캐시를 통해 로컬 저장소에 저장하여 다운받은 지도를 오프라인에서 사용할 수 있는 기능을 구현하였습니다.</p>
      <ul>
        <li>JavaScript JQuery</li>
        <li>Cache api</li>
        <li>참여 : leaflet map api / <strong>Cache api를 통한 map tile 저장</strong></li>
        <li>개발년도 : 2017</li>
      </ul>
      <button class="btn" routerLink="/detail/offlinemaps">자세히 보기</button>
    </div>

  </div>

  <div class="work">
    <div class=img-container>
      <img src="../../../assets/img/city/s7_city1.png" alt="">
      <img src="../../../assets/img/city/s7_city2.png" alt="">
    </div>

    <div class="description">
      <h3 class='content-title'>City</h3>
      <p>한 도시를 주제로 소통하는 애플리케이션입니다. 도시에서 일어나는 정보(ex. 이벤트 등)에 대해 이야기를 나누고 지역주민과 여행객들 모두에게 정보를 제공할 목적으로 개발하였습니다.</p>
      <ul>
        <li>Firebase</li>
        <li>Android JAVA</li>
        <li>참여 : 안드로이드 코딩 / <strong>서버사이드 코딩</strong></li>
        <li>개발년도 : 2017</li>
      </ul>
      <button class="btn" routerLink="/detail/city">자세히 보기</button>
    </div>
  </div>
</div>
