<div class="detail-cover">
  <h1>City</h1>
  <p>Android Application</p>
</div>

<div class="detail-container">
  <div class="section">
    <h3 class="content-title">기획 및 스토리</h3>
    <p class='contents'>
      한 도시를 주제로 이야기할 수 있는 sns어플리케이션입니다. 여러 정보를 나눌 수도 있으며 지역 주민들끼리 자유로운 소통을 위해 개발하였습니다. 뿐만 아니라 해당 도시에 방문하는 여행객들도 애플리케이션을 통해 정보를 얻을 수 있는 애플리케이션을 기획하였습니다.
    </p>
    <div class="info">
        <p><span>Programing with : </span>Android(Java) / Firebase</p>
        <p><span>Period : </span>2017(5 months)</p>
        <p><span>Code : </span><a href="https://github.com/YeongHunCha/Topic" target="_blank">github</a></p>
      </div>
  </div>

  <div class="section">
    <h3 class="content-title">내용 소개</h3>
    <p class='contents'>
      Firebase를 이용하여 authentication을 구현하고 데이터를 DB에 저장할 수 있는 JAVA 기반 안드로이드 애플리케이션입니다.
      기본적인 회원가입 및 로그인을 통해 계정을 만들 수 있으며 만들어진 계정으로 소통하고 싶은 도시를 선택하고 해당 도시에서 자유롭게 소통할 수 있습니다.
    </p>
  </div>

  <div class="section-grid">
    <div class="box-col">
      <img src="../../../../assets/img/city/s7_city1.png" alt="">
      <p>소통하고자 하는 도시를 선택하는 화면.</p>
    </div>

    <div class="box-col">
      <img src="../../../../assets/img/city/s7_city2.png" alt="">
      <p>선택한 도시에서 기존의 SNS와 동일하게 소통을 할 수 있는 메인 화면.</p>
    </div>
  </div>

  <div class="section">
    <h3 class="content-title">배운 점 & 부족했던 점</h3>
    <p class='contents'>
      SNS 애플리케이션의 기본적인 기능들을 구현해 본 경험은 애플리케이션 제작에 있어, 자신감을 높이기에는 부족함이 없었습니다. 간단해 보이는 기능들을 구현하는 데에 어려움이 많았었는데 헤쳐나가는 과정을 통해 많은 것을 배웠습니다.
      <br>
      기본적인 기능을 구현하였지만, SNS에서 가장 중요한 기능 중 하나인 댓글 기능이 아직 구현이 안 된 상태입니다. 채팅 애플리케이션을 만들어본 경험이 있기 때문에 이를 바탕으로 추후 구현할 예정입니다.
    </p>
  </div>
</div>
