@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url('https://fonts.googleapis.com/css?family=Dosis');
:root {
  /* generic */
  --gutterSm: 0.4rem;
  --gutterMd: 0.8rem;
  --gutterLg: 1.6rem;
  --gutterXl: 2.4rem;
  --gutterXx: 7.2rem;
  --colorPrimary400: #7e57c2;
  --colorPrimary600: #5e35b1;
  --colorPrimary800: #4527a0;
  --fontFamily: "Dosis", sans-serif;
  --fontSizeSm: 1.2rem;
  --fontSizeMd: 1.6rem;
  --fontSizeLg: 2.1rem;
  --fontSizeXl: 2.8rem;
  --fontSizeXx: 3.6rem;
  --lineHeightSm: 1.1;
  --lineHeightMd: 1.8;
  --transitionDuration: 300ms;
  --transitionTF: cubic-bezier(0.645, 0.045, 0.355, 1);

  /* floated labels */
  --inputPaddingV: var(--gutterMd);
  --inputPaddingH: var(--gutterLg);
  --inputFontSize: var(--fontSizeSm);
  --inputLineHeight: var(--lineHeightMd);
  --labelScaleFactor: 0.8;
  --labelDefaultPosY: 70%;
  --labelTransformedPosY: calc(
    (var(--labelDefaultPosY)) -
    (var(--inputPaddingV) * var(--labelScaleFactor)) -
    (var(--inputFontSize) * var(--inputLineHeight))
  );
  --inputTransitionDuration: var(--transitionDuration);
  --inputTransitionTF: var(--transitionTF);
}

body{
    font-family: 'Jeju Gothic', sans-serif;
}

* {
  margin : 0;
  padding :0;
}

/* details css */
.detail-cover {
  height: 50vh;
  background: #80cbc4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.detail-cover h1 {
  margin: 10px 0;
}

.detail-container {
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
  margin-bottom: 100px;
  padding: 0 20px;
  line-height: 1.5em;
}

.section-grid {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5em;
  margin-top: 20px;
  margin-bottom: 40px;
}

/* detail-info */
.info {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  font-size: 13px;
  justify-content: space-between;
}

.info a{
  text-decoration: none;
  color: var(--colorPrimary800);
}

.info span{
  font-weight: 700;
}


/* all-area */
.content-title {
  color: var(--colorPrimary800);
  font-size: 1.3em;
  margin: 15px 0;
}

.box-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 0px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .detail-container {
    display: flex;
    flex-direction: column;
  }

  .section-grid {
    display: flex;
    flex-direction: row;
  }
}
